<h3>Welcomer to RxJS !!!</h3>

<span>flatmap / switchmap / concatmap / exhaustmap</span>
<br />
<br />

<span>Number Stream : 0 , 1, 2 --------------(1000ms)</span>

<br />
<br />
<span>Letter Stream : a , b , c ------------(500ms)</span>
<br />
<br />
<select
  [(ngModel)]="selectedOperator"
  (ngModelChange)="onChangeOperator()"
  clas="cust-sel"
>
  <option value="flatMap" selected>flatMap</option>
  <option value="switchMap">switchMap</option>
  <option value="concatMap">concatMap</option>
  <option value="exhaustMap">exhaustMap</option>
</select>
<br />
<br />
<table>
  <tr>
    <td *ngFor="let item of arr">{{item}}</td>
  </tr>
</table>
